/* Added Scrool(y) Bar to Show all information     Start */
.over-flow-hidden{
  height: 560px; 
  margin-bottom: 30px;  
}
.card{
    height: 600px; 
   
}

/* Added Scrool Bar to Show all information     End */

/* Spinner Toggle Section Start */
#spinner-toggle{
    display: none;
}
/* Spinner Toggle Section End */
/* Show the No Result/Found Result number     Start */
#show-found-result{
    color: white;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.082);
    display: none;
    border-radius: 20px;
    background-color: #04AA6D;
}
/* Show the No Result/Found Result number     End */

/* This is for control Image size Start */
img{
    width: 100px;
    height: 300px;
}
/* This is for control Image size End */